/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Public Sans", sans-serif;
  color: #33323D;
  background-color: #FAFAFA;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 1151px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 64px 0;
}

.header__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__item:not(:last-child) {
  margin-right: 43px;
}

.header__nav-link {
  color: #33323D;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.header__nav-link:hover {
  opacity: 0.8;
}

.active {
  color: #5FB4A2;
}

.header__btn {
  display: none;
  border: none;
  background-color: transparent;
}

@media only screen and (max-width: 690px) {
  .header {
    padding: 73px 0 56px;
  }
}
@media only screen and (max-width: 450px) {
  .header {
    padding: 32px 0 40px;
  }
  .header__section {
    position: relative;
  }
  .header__navlink {
    display: none;
  }
  .header__btn {
    display: inline;
  }
  .open-modal .header__navlink {
    position: absolute;
    padding: 100px 50px;
    background-color: dimgray;
    border-radius: 10px;
    white-space: nowrap;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .open-modal .active {
    color: #FAFAFA;
  }
  .open-modal .header__list {
    flex-direction: column;
  }
  .open-modal .header__item:not(:last-child) {
    margin-bottom: 25px;
    margin-right: 0;
  }
  .open-modal .header__navlink {
    display: flex;
  }
}
.footer {
  padding: 24px 0px;
  background-color: #33323D;
}

.footer__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__left-section {
  display: flex;
  align-items: center;
}

.footer__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 48px;
}

.footer__item:not(:last-child) {
  margin-right: 42px;
}

.footer__nav-link {
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer__right-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__right-item:not(:last-child) {
  margin-right: 15px;
}

@media only screen and (max-width: 600px) {
  .footer {
    padding: 56px 0;
  }
  .footer__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__left-section {
    flex-direction: column;
  }
  .footer__list {
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
  }
  .footer__item:not(:last-child) {
    margin-bottom: 32px;
    margin-right: 0;
  }
}
.main__back {
  background-image: url(../../img/index-back.png);
  background-repeat: no-repeat;
  block-size: cover;
  background-position: center;
}

.main__site {
  position: relative;
  height: 600px;
}

.main__hero {
  position: absolute;
  top: 40.6%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 55px 55px 0px 0;
  background-color: #FAFAFA;
  max-width: 445px;
  width: 100%;
}

.main__heading {
  margin: 0;
  margin-bottom: 53px;
  max-width: 390px;
  width: 100%;
  font-family: Ibarra Real Nova;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.446px;
}

.main__hero-btn {
  display: flex;
  align-items: center;
  height: 48px;
  border: none;
  max-width: 200px;
  width: 100%;
  background: #203A4C;
}

.main__btn-text {
  color: #FFF;
  text-align: center;
  font-family: Public Sans;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media only screen and (max-width: 500px) {
  .main__hero {
    position: absolute;
    top: 100%;
    padding: 24px 0px 0px 0;
    background-color: #FAFAFA;
    max-width: 445px;
    width: 100%;
  }
  .main__heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.357px;
  }
}
.main__center {
  display: flex;
  align-items: center;
  padding-top: 180px;
  padding-bottom: 75px;
}

.main__center-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 125px;
}

.line {
  max-width: 350px;
  width: 100%;
  height: 1px;
  opacity: 0.15;
  background: #33323D;
}

.main__center-heading {
  margin-top: 50px 0 28px;
  color: #33323D;
  font-family: Ibarra Real Nova;
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.357px;
}

.main__center-text {
  margin: 0;
  margin-bottom: 24px;
  color: #33323D;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  max-width: 350px;
  width: 100%;
}

.main__center-btn {
  margin-bottom: 46px;
}

.btn {
  padding: 17px 34px;
  background-color: transparent;
  white-space: nowrap;
  color: #33323D;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid #33323D;
}

@media only screen and (max-width: 900px) {
  .main__center {
    padding: 96px 0;
  }
  .main__center-img {
    content: url("../../img/man.png");
    max-width: 300px;
    width: 100%;
    height: 600px;
  }
  .main__center-right {
    margin-left: 60px;
  }
}
@media only screen and (max-width: 600px) {
  .main__center {
    display: flex;
    flex-direction: column;
  }
  .main__center-img {
    content: url("../../img/men.png");
    max-width: 300px;
    width: 100%;
    max-height: 370px;
    height: 100%;
  }
  .main__center-right {
    margin-top: 50px;
    margin-left: 0;
  }
}
@media only screen and (max-width: 500px) {
  .main__center {
    margin-top: 200px;
  }
}
@media only screen and (max-width: 427px) {
  .main__center {
    margin-top: 300px;
  }
}
@media only screen and (max-width: 266px) {
  .main__center {
    margin-top: 400px;
  }
}
.main__bottom {
  display: flex;
  align-items: center;
  padding: 75px 0 150px;
}

.main__bottom-heading {
  margin: 0;
  max-width: 350px;
  width: 100%;
  color: #33323D;
  font-family: Ibarra Real Nova;
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.357px;
}

.main__bottom-line {
  margin: 0 32px;
  opacity: 0.15;
  background: #33323D;
  max-width: 534px;
  width: 100%;
  height: 1px;
}

@media only screen and (max-width: 500px) {
  .main__bottom {
    flex-direction: column;
    padding: 20px 0 80px;
  }
  .main__bottom-heading {
    margin-bottom: 40px;
  }
  .main__bottom-line {
    display: none;
  }
}
.portfolio {
  padding: 30px 0 75px;
}

.portfolio__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.portfolio__item {
  display: flex;
  align-items: center;
}

.portfolio__item:nth-child(even) {
  flex-direction: row-reverse;
}

.portfolio__item:not(:last-child) {
  margin-bottom: 80px;
}

.portfolio__hero-section:nth-child(even) {
  padding: 0 125px;
}

.portfolio__img {
  max-width: 540px;
  width: 100%;
  height: 100%;
}

.portfolio__hero-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.portfolio__line {
  max-width: 350px;
  width: 100%;
  height: 1px;
  opacity: 0.15;
  background: #33323D;
}

.portfolio__hero-heading {
  margin: 102px 0 28px;
  color: #33323D;
  font-family: Ibarra Real Nova;
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.357px;
}

.portfolio__hero-text {
  margin: 0;
  max-width: 350px;
  width: 100%;
  color: #33323D;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.portfolio__hero-btn {
  margin: 24px 0 102px;
}

@media only screen and (max-width: 900px) {
  .portfolio {
    padding: 0 0 60px;
  }
  .portfolio__item {
    flex-direction: column;
    align-items: center;
  }
  .portfolio__item:nth-child(even) {
    flex-direction: column;
  }
  .portfolio__hero-section:nth-child(even) {
    padding: 0;
  }
  .portfolio__hero-section {
    margin-top: 32px;
  }
  .portfolio__hero-heading {
    margin: 24px 0;
  }
  .portfolio__hero-btn {
    margin: 24px 0;
  }
}
.portfolio__bottom {
  display: flex;
  align-items: center;
  padding: 75px 0 150px;
}

.portfolio__bottom-heading {
  margin: 0;
  max-width: 350px;
  width: 100%;
  color: #33323D;
  font-family: Ibarra Real Nova;
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.357px;
}

.portfolio__bottom-line {
  margin: 0 32px;
  opacity: 0.15;
  background: #33323D;
  max-width: 534px;
  width: 100%;
  height: 1px;
}

@media only screen and (max-width: 500px) {
  .portfolio__bottom {
    flex-direction: column;
    padding: 20px 0 80px;
  }
  .portfolio__bottom-heading {
    margin-bottom: 40px;
  }
  .portfolio__bottom-line {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */